@import '../../../../styles/_bases/mixins';

.navbar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    width: 90%;
    border-radius: 12px;
    background-color: white;
    height: 93px;
    display: flex;
    z-index: 2;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
    border: 1px solid black;

    svg {
        flex-shrink: 0;
    }

    @include tablet {
        top: 30px;
    }
}

.content {
    padding: 0 20px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    position: relative;

    @include desktop {
        padding: 0 40px;
        gap: 70px;
    }
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;

    img {
        height: 100%;
        width: 93px;
    }

    @include desktop {
        position: absolute;
        bottom: -35px;

        img {
            height: 120px;
            width: 120px;
        }
    }
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;

    @include desktop {
        margin-left: 150px;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;

    @media screen and (min-width: 1245px) {
        gap: 40px;
    }
}

.item {
    color: var(--Blue-secondary);

    a {
        display: flex;
        align-items: center;
        gap: 5px;

        span {
            font-size: 20px;
            position: relative;
            display: inline-block;
            line-height: 20px;
            width: fit-content;
        }
    }

    svg {
        font-size: 24px;
    }
}

.item:first-child {
    a {
        svg {
            margin-bottom: 4px;
        }
    }
}

.itemActive {
    @extend .item;
    color: var(--Orange);
}

.user {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: var(--Blue-secondary);

    svg {
        font-size: 25px;
        flex-shrink: 0;

        @include desktop {
            font-size: 20px;
        }
    }

    span {
        position: relative;
        font-size: 20px;
        display: none;
    }

    @include desktop {
        span {
            display: block;
        }
    }
}

.item,
.user {
    transition: color .35s ease-in-out;

    span {
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: var(--Orange);
            position: absolute;
            bottom: -4px;
            left: 0;
            opacity: 0;
            transition: opacity .35s ease-in-out;
        }
    }

    &:hover {
        color: var(--Orange);

        span {
            &::after {
                opacity: 1;
            }
        }
    }
}

.bugerMenu,
.menuWrapper button {
    display: flex;
    align-items: center;

    // .menuWrapper {
    //     position: relative;
    // }

    svg {
        font-size: 35px;
    }
}

.menuOpen {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    background: var(--Neutral-white);
    border-radius: 12px;
    border: 1px solid black;

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 20px;
    }
}