@import "../../../../styles/_bases/mixins";

.request {
    border: solid 1px var(--Blue-secondary);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    height: 100%;

    @include desktop {
        padding: 30px 30px 0 30px;
    }
}

.content,
.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    height: 100%;
}

.list {
    overflow: auto;
    padding-bottom: 30px;
    height: 100%;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--Light-secondary);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--Blue-secondary);
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.search {
    display: flex;
    gap: 20px;
    align-items: center;
}

.item {
    margin-right: 10px;
    background: var(--Light-secondary);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .infos {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .picture {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        max-width: 50px;
        max-height: 50px;
        background: var(--Blue-secondary);
        border-radius: 100%;
        padding: 15px;

        @media screen and (min-width: 600px) {
            max-width: 80px;
            max-height: 80px;
        }

        svg {
            font-size: 30px;
            color: var(--Neutral-white);
        }
    }

    .infosRequest {
        display: inline-flex;
        background: var(--Light);
        padding: 10px 15px;
        border-radius: 10px;
        gap: 30px;
        width: 50%;
    }

    p {
        @include text-l;
        font-weight: 600;
        color: var(--Blue-secondary);
    }

    button {
        width: fit-content;
        margin-top: -5px;
    }
}

.add {
    padding: 8px !important;
    display: flex;
    align-items: center;
    border: solid 1px var(--Blue-secondary);

    svg {
        font-size: 20px;
    }
}