@import '../../../styles/_bases/mixins';

.article {
    background-color: rgba(229, 223, 204, 0.2);
    display: flex;
    padding: 200px 0;
    position: relative;
    width: 100vw;
}

.content {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;

    button {
        align-self: flex-start;
    }
}

.text {
    width: 584px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    @include desktop-title-l;
    color: var(--Blue-secondary);
}

.details {
    @include text-l;
    color: var(--Blue-secondary);

    ul {
        padding-left: 20px;

        li {
            list-style-type: disc;
        }
    }
}

.picture {
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 147px;

    .shapeFill {
        fill: #FFFFFF;
    }
}