@import '../../styles/_bases/mixins';

.request {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 150px 0;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        width: 100%;
    }

    h3 {
        @include desktop-title-m;
        color: var(--Blue-secondary);
    }

    p {
        @include text-l;
        color: var(--Blue-secondary);
    }

    button {
        &:disabled {
            cursor: pointer;
        }
    }
}

.title {
    @include desktop-title-l;
    color: var(--Blue-secondary);
    text-align: center;
}