@import '../../../styles/_bases/mixins';

.article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
}

.text {
    width: 584px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    @include desktop-title-l;
    color: var(--Blue-secondary);
}

.details {
    @include text-l;
    color: var(--Blue-secondary);

    ul {
        padding-left: 20px;

        li {
            list-style-type: disc;
        }
    }
}

.picture {
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}