@import '../../../styles/_bases/mixins';

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;

    @include desktop {
        flex-direction: row;
        gap: 100px;
    }
}

.text {
    max-width: 584px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    @include desktop-title-l;
    color: var(--Blue-secondary);
}

.details {
    @include text-l;
    color: var(--Blue-secondary);

    ul {
        padding-left: 20px;

        li {
            list-style-type: disc;
        }
    }
}

.picture {
    display: flex;
    max-width: 504px;
    max-height: 393px;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
    }
}