.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
    grid-gap: 20px;
    row-gap: 30px;
    justify-content: start;

    .item {
        width: 100%;
        max-width: 340px;

        a {
            width: 100%;
        }
    }
}