@import '../../../styles/_bases/mixins';

.partners {
    display: flex;
    width: 100%;
    align-self: center;
    background-color: var(--Blue-primary);
    padding: 40px 0;

    @include tablet {
        padding: 80px 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 0 40px;

    @include tablet {
        padding: 0 80px;
    }
}

.title {
    @include desktop-title-l;
    color: var(--Neutral-white);
    text-align: center;
}

.list {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

    @include tablet {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

}