@import '../../../styles/_bases/mixins';

.asso {
    width: 100%;
    margin-top: 150px;
    padding-bottom: 100px;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title {
    @include desktop-title-l;
    color: var(--Blue-secondary);
}

.paragraph {
    @include text-l;
    text-align: center;
    width: 75%;
    color: var(--Blue-secondary);
}