@import '../../../styles/_bases/mixins';

.sectionFF {
   display: flex;
   justify-content: center;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.text {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   text-align: center;
}

.title {
   @include desktop-title-l;
   color: var(--Blue-secondary);

   // @include desktop {
   //    max-width: 50%;
   // }
}

.paragraph {
   @include text-l;
   color: var(--Blue-secondary);
   width: 100%;

   // @include desktop {
   //    max-width: 73%;
   // }

   span {
      font-weight: 600;
   }
}