@import '../../../styles/_bases/mixins';

.sectionFF {
   padding: 100px 0 50px 0;
   display: flex;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.text {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   text-align: center;
}

.title {
   @include desktop-title-l;
   color: var(--Blue-secondary);
   width: 50%;
}

.paragraph {
   @include text-l;
   color: var(--Blue-secondary);
   width: 73%;

   span {
      font-weight: 600;
   }
}