.m-button {
    background-color: var(--Orange);
    font-size: 16px;
    border-radius: 10px;
    font-family: "Baloo Bhai 2", serif;
    font-weight: 600;
    padding: 18px 15px;
    transition: transform 0.3s ease;
    color: var(--Blue-secondary);

    &:hover {
        transform: scale(1.1);
    }

    &--square {
        padding: 8px 12px;
        border: solid 2px var(--Blue-secondary);
        border-radius: 5px;
        width: auto;
        columns: var(--Blue-secondary);
        font-weight: 500;
    }
}