.m-checkbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: fit-content;
    height: 100%;

    input {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }

    input:checked~span {
        border-color: var(--Blue-secondary);
        background: var(--Neutral-white);

        &::after {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    span {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid var(--Blue-secondary);
        background: #fff;
        border-radius: 5px;
        flex-shrink: 0;

        &::after {
            content: '';
            position: absolute;
            display: none;
            left: 5px;
            top: 1px;
            width: 6px;
            height: 11px;
            border: solid var(--Orange);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            border-radius: 1px;
        }
    }

    label {
        font-size: 14px;
        font-weight: 600;
        margin-left: 8px;
        margin-top: 2px;
        color: var(--Blue-secondary);
    }

    &--disabled {
        span {
            opacity: 0.4;
        }

        label {
            color: grey;
        }
    }

    &--auto {
        width: auto;
    }
}