.m-input {
    position: relative;
    display: flex;
    min-height: 40px;
    width: 100%;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #d3d3d2;
    background: var(--Neutral-white);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

    input {
        width: 100%;
        height: 100%;
        color: var(--Blue-secondary);
        @include text-l;


        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }

    textarea {
        width: 100%;
        color: var(--Blue-secondary);
        height: 125px;
        font-size: 16px;

        &::placeholder {
            color: grey;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }

    &__suffix {
        position: absolute;
        display: flex;
        align-items: center;
        right: 0px;
        margin-right: 8px;
        cursor: pointer;

        svg {
            width: 20px;
            height: 20px;
            color: #8a8a89;
        }
    }

    &__error {
        border-color: red;
    }

    &__error-message {
        color: red;
        font-size: 12px;
        margin-top: 4px;
        display: block;
    }

    &__background {
        background-color: var(--Light);
    }

    &__label {
        margin-top: 20px;
    }

    label {
        font-size: 18px;
        color: var(--Blue-secondary);
        font-weight: 500;
        position: absolute;
        bottom: calc(100% + 5px);
        left: 0;
    }
}