@import '../../../../../styles/_bases/mixins';

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    max-width: 1024px;
    width: 100%;
    background-color: var(--Blue-secondary);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 20px 80px 20px;

    @include tablet {
        border-radius: 10px;
        padding: 80px 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.title,
.subtitle {
    color: var(--Neutral-white)
}

.title {
    @include desktop-title-l;
    text-align: center;
}

.subtitle {
    @include desktop-title-m;
}

.subtitle {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.search {
    margin-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;

    p {
        @include text-l;
        color: var(--Neutral-white);
    }

    @include tablet {
        flex-direction: row;
    }
}

.dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid #D3D3D2;
    background: var(--Neutral-white);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    opacity: 0;
    z-index: -1;
    animation: fadeDown 0.5s cubic-bezier(.075, .82, .165, 1) forwards;

    li {
        cursor: pointer;
        display: flex;
        padding: 8px 12px;
        gap: 12px;
        border-radius: 6px;
        margin: 0 5px;

        &:hover {
            background: var(--Neutral-grey-100);
        }
    }
}

@keyframes fadeDown {
    0% {
        z-index: -1;
        opacity: 0;
        top: calc(100% + 0px);
    }

    100% {
        z-index: 1;
        opacity: 1;
        top: calc(100% + 8px);
    }
}

.cat {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);

    @include desktop {
        left: -38px;
        transform: none;
    }
}