@import "../../../../styles/_bases/mixins";

.petsList {
    border: solid 1px var(--Blue-secondary);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    width: 100%;
    height: 100%;
    overflow: auto;

    @include desktop {
        padding: 30px 30px 0 30px;
    }
}

.content,
.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    height: 100%;
}

.list {
    overflow: auto;
    padding-bottom: 30px;
    height: 100%;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--Light-secondary);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background: #2f2f2f3b;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            background: var(--Blue-secondary);
        }
    }
}

.search {
    display: flex;
    gap: 20px;
    align-items: center;

    button {
        font-size: 14px;
        flex-shrink: 0;
    }
}

.petInfos {
    margin-right: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background: var(--Light-secondary);
    padding: 10px 15px;
    border-radius: 10px;

    @media screen and (min-width: 600px) {
        padding: 20px;
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        align-items: center;
        justify-content: space-around;

        @media screen and (min-width: 600px) {
            flex-direction: row;
        }
    }

    .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .picture {
        display: flex;
        width: 50px;
        height: 50px;
        flex-shrink: 0;

        @media screen and (min-width: 600px) {
            width: 80px;
            height: 80px;
        }

        img {
            border-radius: 100%;
            width: 100%;
            height: 100%
        }
    }

    p {
        @include text-l;
        font-weight: 600;
        color: var(--Blue-secondary);
    }

    .status {
        font-weight: 500;
        padding: 8px;
        border-radius: 10px;
        white-space: nowrap;
        height: fit-content;

        @media screen and (min-width: 600px) {
            padding: 5px 8px;
        }
    }



    button {
        width: fit-content;
    }
}

.add {
    padding: 8px !important;
    display: flex;
    align-items: center;
    border: solid 1px var(--Blue-secondary);

    svg {
        font-size: 20px;
    }
}

.edit {
    display: flex;
    align-items: center;

    svg {
        font-size: 20px;
    }
}