@import "../../../../styles/_bases/mixins";

.petsList {
    border: solid 1px var(--Blue-secondary);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    height: 100%;

    @include desktop {
        padding: 30px 30px 0 30px;
    }
}

.content,
.search,
.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    height: 100%;
}

.list {
    overflow: auto;
    padding-bottom: 30px;
    height: 100%;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--Light-secondary);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--Blue-secondary);
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.search {
    @include desktop {
        flex-direction: row;
    }

    button {
        align-self: flex-start;
        font-size: 14px;
        padding: 15px 10px;
        flex-shrink: 0;
    }
}

.petInfos {
    margin-right: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background: var(--Light-secondary);
    padding: 10px 15px;
    border-radius: 10px;

    .name {
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    img {
        border-radius: 100%;
    }

    p {
        @include text-l;
        font-weight: 600;
        color: var(--Blue-secondary);
    }

    span {
        font-weight: 500;
        left: 30px;
        top: -14px;
        background: var(--Orange);
        color: var(--Neutral-white);
        padding: 8px;
        border-radius: 10px;
        white-space: nowrap;
        width: fit-content;
    }

    button {
        width: fit-content;
    }
}