@import '../../../styles/_bases/mixins';

.content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 150px 0;

    @include desktop {
        gap: 150px
    }

    h2 {
        @include desktop-title-l;
        color: var(--Blue-secondary);
    }
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    @include desktop {
        flex-direction: row;
        gap: 100px;
    }

    .infos {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .text {
        @include text-l;
        color: var(--Blue-secondary);
    }
}

.picture {
    display: flex;
    max-width: 504px;
    max-height: 393px;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    button {
        align-self: center;
    }

    h2 {
        text-align: center;
    }

    @include desktop {
        gap: 50px;

        h2 {
            width: 65%;
        }
    }

    input[type="file"] {
        z-index: 3;
        color: var(--Blue-secondary);
        font-size: 15px;
    }

    input[type="file"]::file-selector-button {
        display: none;
    }

    .textFile {
        color: gray;
        font-size: 15px;
        position: absolute;
        left: 8px;
        white-space: nowrap;
    }
}

.email {
    display: flex;
    flex-direction: column;
}

.password {
    position: relative;
    margin-bottom: 20px;

    @include tablet {
        margin-bottom: 0;
    }

    .passwordError {
        position: absolute;
        color: red;
        font-size: 13px;
    }
}

.emailError {
    color: red;
    font-size: 13px;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    // >:nth-child(3) {
    //     margin-top: 10px;

    //     @include tablet {
    //         margin-top: 0;
    //     }
    // }

    >:nth-child(10),
    :nth-child(11) {
        cursor: pointer;

        input {
            cursor: pointer;
        }
    }

    >:nth-child(10) {
        span {
            color: grey;
            font-size: 13px;
        }
    }

    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        > :nth-child(1),
        > :nth-child(2),
        > :nth-child(3),
        > :nth-child(4),
        > :nth-child(5),
        > :nth-child(6),
        > :nth-child(7),
        > :nth-child(8) {
            grid-column: span 1;
        }


        > :nth-child(1),
        :nth-child(4),
        :nth-child(11),
        :nth-child(12) {
            grid-column: 1 / span 2;
        }

        >:nth-child(4) {
            margin-top: 30px;
        }
    }

    .dateVisible {
        input[type="date" i] {
            color: var(--Blue-secondary);
        }
    }

    input[type="date" i] {
        color: grey;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    @include desktop {
        width: 70%;
    }
}

.register {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: var(--Blue-secondary);
    padding: 40px;
    border-radius: 10px;
    text-align: center;

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        text-align: inherit;
        width: 90%;
        align-self: center;
        padding: 80px;
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include desktop {
            gap: 5px;
        }

        h2 {
            color: var(--Light);
        }

        p {
            @include text-l;
            color: var(--Neutral-white);
        }
    }

    a {
        align-self: center;
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
    }
}