:root {
    --Blue-primary: #82CCD5;
    --Blue-secondary: #213B4A;
    --Orange: #F77748;
    --Light: #E5DFCC;
    --Light-secondary: #E5DFCC4D;
    --Neutral-black: rgba(#000, 0.1);
    --Neutral-white: #fff;
    --Neutral-grey-100: #e3e3e0;
}