@import './mixins';

%all {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

*,
*:after,
*:before {
    @extend %all;
}


body {
    font-family: "Baloo Bhai 2", serif;
    color: var(--Neutral-black);
    overflow-x: hidden;
}

.layout {
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}