@import '../../../styles/_bases/mixins';

.main {
    display: flex;
    // padding: 80px 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;

    img {
        border-radius: 10px;
    }
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;

    button {
        align-self: flex-start;
    }
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    @include desktop-title-l;
    color: var(--Blue-secondary);
}

.step {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .setpoint {
        color: var(--Orange);
        font-weight: 500;
        font-size: 18px;

        span {
            font-size: 24px;
            font-weight: 600;
        }
    }

    .text {
        @include text-l;
    }
}